<!DOCTYPE html>
<html>

<head>
  <title>Fun of the day</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">

</head>

<body>
  <h1>Chuck Norris joke of the day</h1>
  <div class="card">
    <p>
      <%= joke %>
    </p>
  </div>
  <h1>Cocktail of the day</h1>
  <div class="card">
    <p>
      <%= cocktail %> <br>
      <%= receipt %>
    </p>
  </div>

</body>

</html>